<div class="container">

  <div>
    <input type="text" id="search-username" placeholder="用户name">
    <button class="btn btn-default btn-sm" id="btn-search-user">搜索</button>
  </div>

  <div class="row">
    <div class="col-md-9">

    </div>

    <div class="col-md-3">
      wahaha
    </div>
  </div>
</div>
