<div class="container-fluid">

  <div class="alert alert-warning alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
  </div>
  <p>
    这里将是很炫很长、图文并茂、很炫的介绍页。内容包括：
    <ol>
      <li>传统意义上的“关于”：站点介绍等</li>
      <li>一些站点使用现状</li>
      <li>站点使用规则，如提问和回答等</li>
      <li>链接方式的知识产权协议</li>
      <li>未来发展的展望</li>
      <li>作者介绍</li>
    </ol>
  </p>
</div>
