<script src="/vendors/ckeditor/ckeditor.js"></script>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h6>提问题</h6>
      <p>
        提问前好好想想，是不是真的不会？得到满意回答后也别忘记积累知识。
      </p>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" name="title"
               placeholder="言简意赅的标题" />
      </div>
      <div class="form-group tagsinput-primary">
        <input name="tagsinput" class="tagsinput"
               data-role="tagsinput"
               placeholder="输入标签" />
      </div>
      <div class="form-group">
        <textarea id="editor1" name="editor1"></textarea>
        <script>CKEDITOR.replace('editor1'); CKEDITOR.instances.editor1.setData("");</script>
      </div>
      <a class="btn btn-primary btn-lg" href="#" onclick="javascript:do_ask();" > 提交 </a>

      <div id="err_msg_ask" class="text-danger"></div>
    </div>
  </div>
</div>

<script>
  function set_error(item, msg) {
    item.parent().addClass("has-error");
    item.attr('placeholder', msg);
  }
  function do_ask() {
    var is_valid = true;
    var err_msg = "";
    var t = $("input[name='title']");
    var tt = t.val().trim();
    if(tt == "") { set_error(t); err_msg += "请输入标题 &nbsp; "; is_valid = false; }
    var tags = $("input[name='tagsinput']");
    var tag_v = tags.val();
    var content = CKEDITOR.instances.editor1.getData();
    // remove the last div of the content
    // which could be added by any browser plugin
    var div_pos = content.lastIndexOf('<div');
    content = content.substring(0, div_pos);
    if(content.length < 10) {
      set_error($("textarea#editor1"));
      err_msg += "字数太少了吧 &nbsp; ";
      is_valid = false;
    }
    if(is_valid) {
      var data = { "title" : tt, "tags" : tag_v, "content" : content };
      $.post("/ask", data, function (data, status) {
        if(data.ret == "success"){
          location.href = "/q/" + data.msg['qid'];
        }
        else {
          alert(data.msg);
          //switch(data.msg) {
          //  case "": break;
          //  case "": break;
          //  default:;
          //}
        }
      });
    } else { $("#err_msg_ask").html(err_msg); }
  }
</script>
