<script src="//cdn.ckeditor.com/4.5.4/basic/ckeditor.js"></script>
<div class="container">
  <form method="post">
    <h5>提问题</h5>
    <input type="text" class="form-control" style="width:100%;margin-bottom:10px;" placeholder="标题" />
    <div class="tagsinput-primary">
      <input name="tagsinput" class="tagsinput" data-role="tagsinput" style="margin-bottom:10px;" placeholder="输入标签" />
    </div>
    <textarea id="editor" class="ckeditor"></textarea>
    <input type="submit" class="btn btn-primary" value=" 提交 " style="margin-top:10px;" />
  </form>
</div>
