<% content_for :extra_css_tags do %>
<link href="/css/bootstrap-tagsinput.css" rel="stylesheet">
<link href="/vendors/wangEditor/css/wangEditor.min.css" rel="stylesheet" >
<% end %>

<%= render_tag_new_modal %>

<div class="container">
  <div class="row">
    <div class="col-md-9">

      <div class="form-group has-feedback">
        <input type="text" class="form-control" name="title" placeholder="言简意赅的标题" />
      </div>
      <div class="form-group">
        <input name="tagsinput" class="bootstrap-tagsinput" data-role="tagsinput"
        placeholder="输入或选择标签"/>
      </div>

      <!-- hidden dropdown menu: tag input suggestion -->
      <ul class="dropdown-menu" id="tag-suggest"></ul>

      <div class="form-group" id="ask-editor-box"></div>
      <button class="btn btn-primary" name="btn_submit">提交问题</button>
      <button class="btn btn-default" name="btn_save_draft">保存草稿</button>
    </div>

    <div class="col-md-3">
      <h5>相似问题</h5>
      <div class="right-panel-box-body">
        <ul id="_ul_similar_to_ask"></ul>
      </div>
    </div>
  </div>
</div>

<% content_for :extra_js_tags do %>
<script type="text/javascript" src="/js/bootstrap-tagsinput.js"></script>
<script type="text/javascript" src="/vendors/wangEditor/js/wangEditor.min.js"></script>
<script type="text/javascript" src="/js/my-ask.js"></script>
<% end %>
