<script src="/vendors/ckeditor/ckeditor.js"></script>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h6>提问题</h6>
      <p>
        提问前好好想想，是不是真的不会？得到满意回答后也别忘记积累知识。
      </p>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" name="title"
               placeholder="言简意赅的标题" />
      </div>
      <div class="form-group tagsinput-primary">
        <input name="tagsinput" class="tagsinput"
               data-role="tagsinput"
               placeholder="输入标签" />
      </div>
      <div class="form-group">
        <textarea id="editor1" name="editor1"></textarea>
        <script>CKEDITOR.replace('editor1'); CKEDITOR.instances.editor1.setData("");</script>
      </div>
      <a class="btn btn-primary btn-lg" href="#" onclick="javascript:do_ask();" > 提交 </a>

      <div id="err_msg_ask" class="text-danger"></div>
    </div>
  </div>
</div>
