<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h6>提问题</h6>
      <p>
        提问前好好想想，是不是真的不会？得到满意回答后也别忘记积累知识。
      </p>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" name="title"
               placeholder="言简意赅的标题" />
      </div>
      <div class="form-group tagsinput-primary">
        <input name="tagsinput" class="tagsinput"
               data-role="tagsinput"
               placeholder="输入标签" />
      </div>
      <div class="form-group">
        <textarea id="editor" class="ckeditor"></textarea>
      </div>

      <a class="btn btn-primary btn-lg" href="#" onclick="javascript:do_ask();" > 提交 </a>

    </div>
  </div>
</div>
<script src="//cdn.ckeditor.com/4.5.4/basic/ckeditor.js"></script>
<script>
  function set_error(item, msg) {
    item.parent().addClass("has-error");
    item.attr('placeholder', msg);
  }

  function do_ask() {
    var is_valid = true;
    var t = $("input[name='title']");
    var tt = t.val().trim();
    if(tt == "") { set_error(t); is_valid = false; }
    var tags = $("input[name='tagsinput']");
    var tag_v = tags.val();


  }
</script>
