<div class="myjumbotron-career">
  <h2>韩非子说的工作机会</h2>
  <p>
    韩非子说 正在迅猛发展，我们希望你的加入能让 韩非子说 有更大的改观和发展。<br/>
    我们希望打造和保持高效、技术领先的强大团队。
  </p>
</div>

<div class="container">
  <h5>
    职位列表
  </h5>

  <div class="row">
    <div class="col-md-4">
      <div class="career-box">
        <h5>UE设计师</h5>
        <p>
          设计前端
        </p>
        <a href="mailto:jobs@hanfeizishuo.com?subject=应聘UE设计师-[姓名]"
        class="btn btn-primary btn-sm">申请</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="career-box">
        <h5>前端工程师</h5>
        <p>
          实现前端
        </p>
        <a href="mailto:jobs@hanfeizishuo.com?subject=应聘前端工程师-[姓名]"
        class="btn btn-primary btn-sm">申请</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="career-box">
        <h5>运营</h5>
        <p>
          业务运营事务
        </p>
        <a href="mailto:jobs@hanfeizishuo.com?subject=应聘运营-[姓名]"
        class="btn btn-primary btn-sm">申请</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="career-box">
        <h5>Full Stack工程师</h5>
        <p>
          代码开发和测试
        </p>
        <a href="mailto:jobs@hanfeizishuo.com?subject=应聘fullstack工程师-[姓名]"
        class="btn btn-primary btn-sm">申请</a>
      </div>
    </div>
  </div>

  <p>
    还可以发送邮件到 <a href="mailto:jobs@hanfeizishuo.com">jobs@hanfeizishuo.com</a>
    申请或咨询相关事宜。
  </p>
</div>
