<% content_for :extra_css_tags do %>
<link href="/vendors/wangEditor/css/wangEditor.min.css" rel="stylesheet" >
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <p>欢迎反馈</p>

      <div class="form-group has-feedback">
        <input type="text" class="form-control" name="title" placeholder="言简意赅的标题" />
      </div>

      <div class="form-group">
        <div id="feedback-editor-box"></div>
        <script>
        (function (window, $) {
          $(function () {
            var editor = new wangEditor('feedback-editor-box');
            editor.config.menus = [
              'bold','underline','italic','strikethrough','eraser','forecolor','|',
              'fontfamily','fontsize','unorderlist','orderlist','|',
              'link','unlink','table','emotion'
            ];
            editor.create();

            $("button[name='btn-submit']").click(function () {
              var title = $("input[name='title']").val();
              var desc = editor.$txt.html();

              $.post('/feedback', { "title" : title, "desc" : desc },
                function (data, status) {
                  if (data.ret == "success") {
                    alert("提交成功");
                    location.replace('/');
                  }
                  else {
                    $("div#err_msg_fb").html(data.msg);
                  }
                }
              );
            });
          });
        })(window, jQuery);
        </script>
      </div>

      <button class="btn btn-primary" name="btn-submit">提交</button>
      <div id="err_msg_fb" class="text-danger"></div>
    </div>

  </div>
</div>

<% content_for :extra_js_tags do %>
<script type="text/javascript" src="/vendors/wangEditor/js/wangEditor.min.js"></script>
<% end %>
