<div class="myjumbotron-career">
  <h2>是非说的使用指引</h2>
  <p>
    介绍如何使用是非说
  </p>
</div>

<div class="container">
  <ul class="help-list">
    <li><a href="#register">注册</a></li>
    <li><a href="#ask">提问</a></li>
    <li><a href="#tag">标签</a></li>
    <li><a href="#search">搜索</a></li>
    <li><a href="#answer">回答</a></li>
    <li><a href="#vote">评分</a></li>
    <li><a href="#sns">社交</a></li>
  </ul>

  <p id="register">
    如何注册
  </p>

  <p id="ask">
    如何提问
  </p>

  <p id="answer">
    回答
  </p>

</div>
