<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="help-content">

        <div class="message">
          <h4 id="definition">“是非说”是什么</h4>
          <p>“是非说”，是法律相关行业的知识分享社区。
          主要针对的是专业工作者们在从业道路上的“学习”过程。</p>
        </div>

        <div class="message">
          <h4 id="principle">一些原则</h4>
          <p>
          “是非说”是以社区的形式提供服务。社区的建设和维护主要依赖每一位用户。
          另外，社区里的用户通过民主投票的方式标记内容物的优劣，给予其他社区成员以参考。
          </p>
          <p>
          尽管社区推崇无私的互助精神，但是纯粹依靠无私来建立这样的社区是非常难的。在人类历史上有很多单纯依赖无私互助的尝试，多以悲哀的失败告终。
          </p>
          <p>
          社区使用声望这样的东西来量化用户的贡献程度。同时，社区还有利用标签等机制为用户的知识属性建立模型，标明用户的专业范围和能力。
          </p>
        </div>

        <div class="message">
          <h4 id="tags">标签和专业</h4>
          <p>
          <span class="q_tag">标签（tag）</span>是社区内容物的一种抽象标记，它表示这个内容的知识范畴等信息。
          社区的用户也可以被标签所标记，这样的标签标记了用户的知识范围，知识能力等信息。
          不管对于内容物还是用户，标签具备的一个作用是帮助搜索和分类。
          </p>
          <p>
          当用户回答问题时，如果其答案被提问的人标记为“接受的答案”。
          那么回答者将自动继承这个问题附加的“知识范畴”标签。用户针对一个标签所得到的声望，可以用来描述该用户对这个知识范畴的专业程度。
          </p>
        </div>

        <div class="message">
          <h4 id="reputation">声望获取</h4>
          <p>
          声望可以大体上描述用户的专业能力和贡献程度。不同声望在社区内可以获得的权限也有所不同。
          </p>
          <p>
          每位用户每天最多获取200声望。获取声望通过以下方式：
          <ul>
            <li>问题被顶：+5</li>
            <li>回答被顶：+10</li>
            <li>回答被标记为“接受”：+15（同时，标记答案的提问者也 +2）</li>
          </ul>
          遇到以下情况，用户的声望会被扣除：
          <ul>
            <li>问题被踩：-2</li>
            <li>答案被踩：-2</li>
            <li>踩了一个答案：-1</li>
            <li>某个内容物被投诉6次：-100</li>
            <li>用户被投诉6次：-100</li>
          </ul>
          每位用户注册时就拥有1个声望，而且也不会被扣至低于1个声望。
          </p>
        </div>

        <div class="message">
          <h4 id="authority">权限说明</h4>
          <p>
          权限内容会随着社区功能的增加而变化。目前的内容是：
          <ul>
            <li>1500 - 创建标签</li>
            <li>200 - 投诉内容物或用户</li>
            <li>125 - “踩”一个内容物</li>
            <li>50 - 发表评论</li>
            <li>15 - “顶”一个内容物</li>
            <li>1 - 提问或回答</li>
          </ul>
          </p>
        </div>

        <div class="message">
          <h4 id="feedback">意见反馈</h4>
          <p>
          每位社区用户都可以点击 <a href="/feedback">这里</a> 向社区建设者提出意见和建议。
          </p>
        </div>

        <div class="message">
          <h4 id="about">关于</h4>
          <p>
          “是非说”是“数字天平”公司首款产品/服务。数字天平（北京）是一家法律（及相关）行业信息服务商。
          <br>
          公司的愿景是促进中国法律知识普及，促进法律知识的交流与传播，最终促进国家法治建设。
          </p>
        </div>

        <div class="message">
          <h4 id="terms">法律条款</h4>
          <p>
          详见 <a href="/terms">这里</a>。任何对“是非说”的使用和操作视作您已接受这份条款。
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="right-panel-box">
        <div class="right-panel-box-body">
          <ul>
            <li><a href="#definition">“是非说”是什么</a></li>
            <li><a href="#principle">一些原则</a></li>
            <li><a href="#tags">标签和专业</a></li>
            <li><a href="#reputation">声望获取</a></li>
            <li><a href="#authority">权限说明</a></li>
            <li><a href="#feedback">意见反馈</a></li>
            <li><a href="#about">关于</a></li>
            <li><a href="#terms">法律条款</a></li>
          </ul>
        </div>
      </div>
    </div>
</div>
