<div class="container">
  <p>
    如果您输入的邮箱同注册时留下的邮箱相同，我们将会发送重设密码的链接给那个邮箱。
  </p>
  <p>
    用户名: <input type="text" placeholder="Login Name" name="name" value="<%= @name %>" />
  </p>
  <p>
    Email: <input type="text" placeholder="Email" name="email" />
  </p>
  <p>
    <button class="btn btn-primary btn-sm" id="refind_button"
            onclick="javascript:send_refind_email();">
      发送重设密码链接
    </button>
  </p>
</div>
