<div class="container-fluid">
  <% if @words_on_login_page %>
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <p>
      <%= @words_on_login_page %>
    </p>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="form-group has-feedback">
        <input class="form-control" type="text" name="login_name" id="u"
               value="<%= @name %>" placeholder="登录名" />
      </div>
      <div class="form-group has-feedback">
        <input class="form-control" type="password" name="password" id="p"
               placeholder="密码" />
      </div>
      <input type="hidden" name="return_page" value="<%= @return_page %>" />
      <button class="btn btn-primary" onclick="javascript:login2();">
        登录
      </button>
      &nbsp; 没有用户？ <a href='/user/signup'>注册</a>

      <div id="err-msg2" class="text-danger"></div>
    </div>
  </div>
</div>
