<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <p>
        <div class="form-group has-feedback">
          <input class="form-control" type="text" name="login_name" id="u"
                 value="<%= URI.decode(params['u']) if params['u'] %>"
                 placeholder="登录名" />
          <span class="form-control-feedback fui-user"></span>
        </div>
      </p>
      <p>
        <div class="form-group has-feedback">
          <input class="form-control" type="password" name="password" id="p"
                 placeholder="密码" />
          <span class="form-control-feedback fui-lock"></span>
        </div>
      </p>
      
      <button class="btn btn-primary btn-lg" onclick="javascript:login2();">
        登录
      </button>
      <div id="err-msg2" style="margin-top:10px;" class="text-danger"></div>
    </div>
  </div>
</div>
