<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>404 - 是非说</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/css/my.css" />
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.min.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="is_404">
    <div class="centered-box">
      <h1>{404}</h1>
      <p>找不到你要找的页面<br>
      <span id="futa"> - you know what i mean - </span></p>
      <p><a href="/">返回首页</a></p>
    </div>
  </body>
</html>
