<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords"
        content="法律 法务 问答 社区" />
  <meta name="description"
        content="法律 法务 问答 社区" />
  <title>系统故障 | 韩非子说</title>
</head>
<body>
  <h3>Sorry，出现故障了</h3>
  <p>
    发生系统内部故障，您的请求暂时无法处理。但是错误已经被记录，可以帮助作者尽快修复。
    给您带来的不便请谅解~
  </p>
  <p>
    <%= Time.now %>
  </p>
</body>
</html>
