<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="法律 法务 问答 社区" />
    <meta name="description"
          content="法律 法务 问答 社区" />
    <title>五零零 出错了</title>
    <style type="text/css">
      body {
        font-family: 'Microsoft Yahei', monospace,serif;
        padding: 0;
        margin: 0;
      }
      p.words {
        padding: 5px;
      }
      .big {
        font-size: 2em;
      }
      div.mid-pane {
        height: 400px;
        width: 40%;
        margin: 0 auto;
        margin-top: 200px;
      }
      div.mid-pane img {
        margin: 10px;
        float: left;
      }
    </style>
  </head>
  <body>
    <div class="mid-pane">
      <img src="/hanfeizi.jpg" alt="hanfeizi" />
      <p class="words">
        <span class="big">韩非子曰：</span><br>
        法已定矣。不以善言害法<br>
        Mr. Hanfei said nobly: <br>
        ¯\_(ツ)_/¯ <br>
        Oh man you just stepped on a big pile of shit!
      </p>
      <a href="/">返回首页(back to home)</a>
    </div>
  </body>
</html>
