<style>
div.partial-ad img { width: 100%; }
div.partial-ad {
  overflow: hidden;
  border: 1px solid lightgray;
  padding: 3px;
}
</style>
<div class="partial-ad">
  <a href="/about"><img src="/images/ad_img/ad_sample.jpg" /></a>
</div>
