<div class="w3-card-2 w3-white">
  <div class="w3-container w3-padding-0  w3-border-bottom">
    <div class="w3-left w3-padding"><%= I18N.ref "top_users" %></div>
    <div class="w3-right">
      <ul class="w3-navbar">
        <li><a href="javascript:void(0)" id="day"><%= I18N.ref "day" %></a></li>
        <li><a href="javascript:void(0)" id="week"><%= I18N.ref "week" %></a></li>
        <li><a href="/users"><%= I18N.ref "more" %></a></li>
      </ul>
    </div>
  </div>
  <div>
    <ul id="top-user-list">
    </ul>
  </div>
</div>
<script>
(function(window, $) {
  var root_ul = $("ul#top-user-list");

  var render_list = function (data) {
    root_ul.empty();

    if (data.length < 1) {
      root_ul.append("暂无数据");
      return;
    }

    for(var i = 0; i < data.length; i++) {
      //console.log(data[i]);
      var item = data[i];
      var result = "\
      <li>\
        <a href='/u/" + item.login_name + "'>\
          <img class='top-user-avatar' src='" +
          ((item.avatar == null) ? 'avatar.jpg' : item.avatar) + "' alt='" +
          item.login_name + "' />\
          <span>" + item.nickname + "</span>\
        </a>\
        <span " + ((item.repu_sum < 0) ? "class='number-neg'>" : ">") +
          ((item.repu_sum >= 0) ? '+' : '') + item.repu_sum +
        "</span>\
      </li>";
      root_ul.append(result);
    }
  };

  var render_top_today = function () {
    $.get('/user/top_today', function (data, status) {
      render_list(data);
    });
  };

  var render_top_week = function () {
    $.get('/user/top_week', function (data, status) {
      render_list(data);
    });
  };

  $(function () {
    // set init clickable
    $("a[name='today']").addClass("disabled");
    $("a[name='today']").attr("disabled", "disabled");

    // render init
    render_top_today();

    // bind event to <a>
    $("a.top-user-by").click(function () {
      var clicked_item = $(this);
      if (clicked_item.attr("name") == "today") {
        render_top_today();
      }
      else if (clicked_item.attr("name") == "week") {
        render_top_week();
      }

      $("a.top-user-by").removeClass("disabled");
      $("a.top-user-by").removeAttr("disabled"); // enable all
      clicked_item.attr("disabled", "disabled");
      clicked_item.addClass("disabled");  // disable this one
    });
  });

})(window, jQuery);
</script>
