<!-- hidden modal for reporting -->
<div class="modal fade" id="report-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">投诉</h4>
      </div>
      <div class="modal-body">
        <p>
          <textarea name="reason" style="width: 100%;" placeholder="投诉理由"></textarea>
        </p>
        <div id="report-err-msg" class="text-danger"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm"
        onclick="javascript:new_report('<%= item_type %>',<%= item_id %>);">保存</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
