<h5>
  <%= (case question_type
       when :linked then "关联问题"
       when :related then "相似问题"
       end) %>
</h5>
<div class="right-panel-box-body">
  <ul id="_<%= question_type.to_s %>"></ul>
</div>
<script>
(function (window, $) {
  $(function () {
    var type = "<%= question_type.to_s %>";
    var root_ul = $("ul#_" + type);
    var base_url = location.pathname;   // like '/q/123'
    var url = base_url + "/" + type;   // go '/q/123/related'
    $.get(url, function (data, status) {
      if (data.length > 0) {
        console.log("get data " + data.length + " items: " + url);
        root_ul.empty();
        for(var i = 0; i < data.length; i++) {
          var item = data[i];
          var span_class;
          if (item.has_acc) { span_class = "list-vote-box-acc"; }
          else { span_class = "list-vote-box-nor"; }
          var tmp = "\
          <li>\
            <span class='" + span_class + "'>" + item.votes + "</span>\
            <a class='list-title' href='/q/" + item.id + "'>" +
              item.title +
            "</a>\
            <div class='clear'></div>\
          </li>";
          root_ul.append(tmp);
        }
      }
      else { console.log("get 0 items " + type); }
    });
  });
})(window, jQuery);
</script>
