<ul id="_<%= question_type.to_s %>" class="w3-ul w3-card-2 w3-white">
  <li><h5><%= I18N.ref question_type.to_s %></h5></li>
</ul>

<script>
(function (window, $) {
  $(function () {
    var type = "<%= question_type.to_s %>";
    var root_ul = $("ul#_" + type);
    var url = location.pathname + "/" + type;   // go '/q/123/related'
    $.get(url, function (data, status) {
      if (data.length > 0) {
        for(var i = 0; i < data.length; i++) {
          var item = data[i];
          var span_class;
          if (item.has_acc) { span_class = "w3-green w3-text-white"; }
          else { span_class = "w3-light-grey"; }
          var tmp = "\
          <li>\
            <span class='w3-tag " + span_class + "' style='width:40px'>" + item.votes + "</span>\
            <a href='/q/" + item.id + "' class='w3-margin-left'>" + item.title + "</a>\
          </li>";
          root_ul.append(tmp);
        }
      }
    });
  });
})(window, jQuery);
</script>
