<div class="modal fade" id="login-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-hidden="true"
                aria-label="Close">
          <i class="fa fa-close"></i>
        </button>
        <img alt="是非说" src="/little-logo.png" class="logo" />
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" class="form-control" name="modal-loginname"
                 placeholder="用户名">
        </div>
        <div class="form-group">
          <input type="password" class="form-control"
                 name="modal-password" placeholder="密码">
        </div>
      </div>
      <div class="modal-footer">
        <div style="float:left;">没有帐户？<a href="/user/signup">注册</a></div>
        <button class="btn btn-primary btn-sm" name="btnSignin">登录</button>
      </div>
    </div>
  </div>
</div>
<script>
(function(window, $) {
  var namebox = $('input[name="modal-loginname"]');
  var passbox = $('input[name="modal-password"]');
  var btnSignin = $("button[name='btnSignin']");
  var is_ok_name = true, is_ok_pass = true;

  // sign in modal initialize
  $('#login-modal').on('show.bs.modal', function () {
    namebox.val(""); set_normal(namebox, "name");
    passbox.val(""); set_normal(passbox, "pass");
    clean_below_msg(namebox);
    clean_below_msg(passbox);
  });

  var check_name = function () {
    var name = namebox.val().trim();
    var reg= /^[a-zA-Z0-9_]{3,15}$/i;
    if (!reg.test(name)) {
      is_ok_name = false;
      set_error(namebox, "name");
      show_below_msg(namebox, "账号是英文字母（无视大小写）、数字和下划线的组合，3~15个字符");
    }
    else {
      is_ok_name = true;
      set_normal(namebox, "name");
      clean_below_msg(namebox);
    }
  };

  var check_pass = function () {
    var pass = passbox.val().trim();
    if (pass.length < 6 || pass.length > 20) {
      is_ok_pass = false;
      set_error(passbox, "pass");
      show_below_msg(passbox, "密码为6~20个字符");
    }
    else {
      is_ok_pass = true;
      set_normal(passbox, "pass");
      clean_below_msg(passbox);
    }
  };

  var _do_signin = function () {
    clean_below_msg(btnSignin);
    check_name();
    check_pass();
    if (is_ok_name && is_ok_pass) {
      var data = {
        "login_name" : namebox.val().trim(),
        "password"   : passbox.val().trim()
      };
      $.post("/user/signin", data, function(data, status) {
        if (data.ret == "success") {
          location.replace(location.href);
        }
        else {
          if(data.msg == "login_fail") {
            set_error(namebox, 'name');
            set_error(passbox, 'pass');
            show_below_msg(btnSignin, "用户名密码不正确");
          }
          else if(data.msg == "waiting") {
            show_below_msg(btnSignin, "由于错误次数过多，请等待一会儿再试");
          }
          else if(data.msg == "fail_5") {
            show_below_msg(btnSignin, "由于错误超过5次，请等待15秒再试");
          }
          else if(data.msg == "fail_10") {
            show_below_msg(btnSignin, "由于错误超过10次，请等待30秒再试");
          }
          else {
            show_below_msg(btnSignin, data.msg);
          }
        }
      });
    }
  };
  btnSignin.on('click.app', _do_signin);
})(window, jQuery);
</script>
