<% if @navbar_hide_level != 'all' %>
<style>
div.navtab {
  margin-top: 80px;
  margin-bottom: 150px;
}

.navtab-left {
  float: left;
}
.navtab-right {
  float: right;
}
.navtab-tab-button {
  display: block;
  float: left;
  height: 30px;
  margin-left: 5px;
  text-decoration: none;
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #EBF2F5;
}

a.navtab-tab-button:hover {
  text-decoration: none;
}
a.activated {
  background-color: gold;
}
a.activated:hover {
  text-decoration: none;
}

img.logo-navtab {
  width: 80px;
}

</style>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&effect=brick-sign">
<div class="container">

  <div class="navtab">
    <% if @navbar_hide_level != 'logo' %>
    <div class="navtab-left">
      <a href="/" title="Homepage">
        <img src="/logo.png" class="logo-navtab" alt="是非说"/>
        &trade;
      </a>
      <div id="charlogo">
        <span style="font">shifei</span>
        <span>TALK</span>
      </div>
    </div>

    <% end %>
    <div class="navtab-right">
      <a class="w3-btn w3-light-grey w3-hover-blue <% if @navbar_active == 'qs' %>w3-blue<% end %>"
         href="/questions" title="All questions">
        <i class="fa fa-question"></i>&nbsp;问题
      </a>
      <a class="w3-btn w3-light-grey w3-hover-blue <% if @navbar_active == 'users' %>w3-blue<% end %>"
         href="/users" title="All users">
        <i class="fa fa-users"></i>&nbsp;用户
      </a>
      <a class="w3-btn w3-light-grey w3-hover-blue <% if @navbar_active == 'tags' %>w3-blue<% end %>"
         href="/tags" title="All tags">
        <i class="fa fa-tags"></i>&nbsp;标签
      </a>
      <div class="clear"></div>
    </div>
  </div>

</div>
<% end %>
