<style>
div.foldable-header {
  margin-bottom: 10px;
  background-color: #EBF2F5;
}

div.foldable-header > div.content {
  margin: 0 auto;
  padding: 30px 40px 10px 40px;
}

</style>

<div class="foldable-header">
  <div class="content">
    <p>
      是非说&trade; 是讨论和学习法律知识的地方。<br />
      帮助他人，提高自己，还可以获取代表专业能力的声望。<br />
    </p>
    <p>
      现在就
      <a class="btn btn-default btn-sm" href="/user/signin">登录</a>
      <a class="btn btn-default btn-sm" href="/user/signup">注册</a>
    </p>
  </div>
</div>
