<div class="modal fade" id="new-tag-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">新建标签</h4>
      </div>
      <div class="modal-body">
        <p id="new-tag-name">
          标签名称：<span class="q_tag"></span>
        </p>
        <p>标签类别：知识范畴</p>
        <hr>
        <p id="new-tag-desc">
          <textarea style="width: 100%;" placeholder="输入标签描述"></textarea>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
          关闭</button>
        <button type="button" class="btn btn-primary btn-sm" name="btnSaveNewTag">
          保存</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
(function(window, $) {
  $(function () {
    var btnSaveNewTag = $("button[name='btnSaveNewTag']");

    var add_new_tag = function (name) {
      // clean origin hand-input and add new one to tagsinput
      $("div[class='bootstrap-tagsinput'] > input").val('');
      $("input[name='tagsinput']").tagsinput('add', name);
    };

    $("#new-tag-modal").on('show.bs.modal', function () {
      clean_below_msg(btnSaveNewTag);
    });

    var _new_tag = function () {
      var name = $("#new-tag-name > span").text().trim();
      var desc = $("#new-tag-desc > textarea").val().trim();

      if (name != '' && desc!= '') {
        // assume category is 'knowledge' only
        $.post('/tag/new', { "name": name, "desc": desc }, function (data, status) {
          if (data.ret == "success") {
            add_new_tag(name);
            $("#new-tag-modal").modal('hide');
          }
          else {
            show_below_msg(btnSaveNewTag, data.msg);
          }
        });
      }
      else {
        show_below_msg(btnSaveNewTag, "表单元素缺少内容");
      }
    };
    $("button[name='btnSaveNewTag']").on('click.app', _new_tag);
  });
})(window, jQuery);
</script>
