<style>
div.foldable-header {
  position: relative;
  border: 1px solid lightgray;
  margin-bottom: 10px;
  background-color: #EBF2F5;
}

div.folded {
  height: 37px;
}

div.foldable-header > div.content {
  margin: 0 auto;
  padding: 30px 40px 20px 40px;
}

div.foldable-header > #folding-button {
  display: block;
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 99;
  cursor: pointer;
}
</style>

<div class="foldable-header <% if @hide_header %>folded<% end %>">
  <span id="folding-button">
    <i class="fa fa-2x"></i>
  </span>
  <div class="content">
  </div>
  <div class="clear"></div>
</div>

<script>
$(function () {
  var hbox = $(".foldable-header");
  var cbox = $(".foldable-header > .content");
  var unfolded_content = '\
  <div><p>韩非子说&trade; 是讨论和学习法律知识的地方。<br />\
    帮助他人，提高自己，还可以获取代表专业能力的声望。<br /></p><p>现在就 \
    <a class="btn btn-default btn-sm" href="/user/signin">登录</a> \
    <a class="btn btn-default btn-sm" href="/user/signup">注册</a> 吧！\
    </p></div>';

  if (!hbox.hasClass("folded")) {
    cbox.html(unfolded_content);
    $("#folding-button > i").addClass("fa-angle-double-up");
  }
  else {
    $("#folding-button > i").addClass("fa-angle-double-down");
  }

  $("#folding-button").click(function () {
    if (hbox.hasClass("folded")) {
      hbox.removeClass("folded");
      $("#folding-button > i").removeClass("fa-angle-double-down")
                              .addClass("fa-angle-double-up");
      cbox.html(unfolded_content);
    }
    else {
      hbox.addClass("folded");
      $("#folding-button > i").removeClass("fa-angle-double-up")
                              .addClass("fa-angle-double-down");
      cbox.html("");
    }
  });
});
</script>
