<!-- hidden modal for editing question -->
<div class="modal fade" id="edit-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-close"></i>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <div id="edit-editor-box"></div>
          <script>
          (function (window, $) {
            $(function () {
              var qid = "<%= @q.id %>";

              if (qid) {
                var editor = new wangEditor('edit-editor-box');
                editor.config.menus = [
                  'bold','underline','italic','strikethrough','eraser','forecolor','|',
                  'fontfamily','fontsize','unorderlist','orderlist','|',
                  'link','unlink','table','emotion'
                ];
                editor.create();

                $("button[name='btn-submit']").click(function () {
                  var content = editor.$txt.html();
                  $.post('/q/' + qid, { 'content' : content }, function (data, status) {
                    if(data.ret == "success") { location.replace(location.href); }
                    else { alert(data.msg); }
                  });
                });
              }
            });
          })(window, jQuery);
          </script>
        </p>
        <div id="edit-err-msg" class="text-danger"></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-sm" name="btn-submit">保存</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
