<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h5><%= @q.title %></h5>
      <p>
        <%= @q.content %>
      </p>
    </div>
    <div class="col-md-4">
      hahahaha
    </div>
  </div>"
</div>
