
<div class="container">
  <h3>请设置新密码，按确认键保存</h3>
  <p>
    新密码： <input type="password" name="new_pass1" placeholder="新密码" />
  </p>
  <p>
    再输入一次：<input type="password" name="new_pass2" placeholder="新密码" />
  </p>
  <p>
    <button class="btn btn-primary btn-sm"
            id="save_new_password()"
            onclick="javascript:save_new_password();">确认</button>
  </p>
</div>
