<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="韩非子说 法律 法务 问答 社区" />
    <meta name="description" content="韩非子说 搜索 法律 法务 问答 社区" />
    <title>搜索 | 韩非子说</title>
    <link rel="icon" href="/favicon.ico">
    <link href="/css/bootstrap-3.3.5.min.css" rel="stylesheet">
    <link href="/css/my.css" rel="stylesheet">
    <%= yield_content :extra_css_tags %>
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.min.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="search-mid-pane">
            <h1>韩非子说：搜索</h1>

            <form class="input-group">
              <input type="text" class="form-control" name="q">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">搜索</button>
              </span>
            </form>

            <p style="margin-top:20px;">
              <a href="/">返回韩非子说首页</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/js/my.js"></script>
  </body>
</html>
