<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <h3>Terms of Service</h3>
      <p>
        The xxx is the easiest way to get expert answers to your questions. We created it to give everyone a chance to be recognized by their peers: recognized for their knowledge, their passion, and their willingness to help others get better at the things they are passionate about. We do ask that you treat our service and community with respect. Spam, personal attacks, and abusive language do not have a place on the Stack Exchange Network. If you ever stumble across anything on the Stack Exchange Network that looks like it violates our policies, please be sure to let us know.
      </p>
    </div>
  </div>
</div>
