<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <p>
        <div class="form-group has-feedback">
          <input class="form-control" type="text"
                 name="login_name" id="lu" placeholder="登录名" />
          <span class="form-control-feedback fui-user"></span>
        </div>
      </p>
      <p>
        <div class="form-group has-feedback">
          <input class="form-control" type="password"
                 name="password" id="p1" placeholder="密码" />
          <span class="form-control-feedback fui-lock"></span>
        </div>
      </p>
      <p>
        <div class="form-group has-feedback">
          <input class="form-control" type="password"
                 name="password_again" id="p2" placeholder="密码again :-)" />
          <span class="form-control-feedback fui-lock"></span>
        </div>
      </p>
      <p>
        <div class="form-group">
          <label>
            <input type="checkbox" name="confirmed" checked /> &nbsp;
            同意并遵守网站<a href="/terms">服务和隐私条款</a>
          </label>
        </div>
      </p>
      <div id="err-msg2" class="text-danger"></div>
      <button class="btn btn-primary btn-lg"
              onclick="javascript:do_register();">注册</a>
    </div>
  </div>
</div>
<script>
  function GetUrlParam(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)","i");
    var r = window.location.search.substr(1).match(reg);
    if (r!=null) return (r[2]); return null;
  }
  function do_register() {
    var is_valid = true;
    var name_input = $("input[id='lu']");
    var name = name_input.val().trim();
    var reg=/^[a-zA-Z0-9_]{1,50}$/i;
    if (name == "" || !reg.test(name)) {
      set_error(name_input, "请填写英文字母与数字、下划线的组合，不超过50个字符");
      is_valid = false;
    }
    else {
      set_ok(name_input);
    }
    var pass_input = $("input[id='p1']");
    var pass = pass_input.val().trim();
    if (pass == "" || pass.length < 6) {
      set_error(pass_input, "请填写6位或以上字符密码");
      is_valid = false;
    }
    else {
      set_ok(pass_input);
    }
    var pass_again_input = $("input[id='p2']");
    var pass_again = pass_again_input.val().trim();
    if (pass_again != pass) {
      set_error(pass_again_input, "密码不一致");
      is_valid = alse;
    }
    else {
      set_ok(pass_again_input);
    }
    var is_confirmed = $("input[name='confirmed']").prop("checked");
    if (!is_confirmed) { $("#err-msg2").text("请阅读并同意我们的条款 :-)"); }
    if (is_valid && is_confirmed) {
      var data = {
        "login_name" : name,
        "password" : pass,
        "password_again" : pass_again,
        "confirmed" : is_confirmed
      };
      $.post("/user/register", data, function (data, status) {
        if(data.ret == "error"){
          switch(data.msg) {
            case "login_info_err":
              $("#err-msg2").text("注册信息有误");
              break;
            case "name_exist":
              // walk around to put html element in text
              $("#err-msg2").text("");
              $("#err-msg2").append("该登录名已被使用，可尝试 <a href='/login?u="+ name +"'>登录</a>");
              break;
            default:
              $("#err-msg2").text(data.msg);
          }
        }
        else if(data.ret == "success") {
          var return_url = GetUrlParam("returnurl") || "/";
          location.replace(return_url);
        }
      });
    }
  }
</script>
