<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <p>
        <div class="form-group has-feedback">
          <input class="form-control" type="text"
                 name="login_name" id="lu" placeholder="登录名" />
          <span class="form-control-feedback fui-user"></span>
        </div>
      </p>
      <p>
        <div class="form-group has-feedback">
          <input class="form-control" type="password"
                 name="password" id="p1" placeholder="密码" />
          <span class="form-control-feedback fui-lock"></span>
        </div>
      </p>
      <p>
        <div class="form-group has-feedback">
          <input class="form-control" type="password"
                 name="password_again" id="p2" placeholder="密码again :-)" />
          <span class="form-control-feedback fui-lock"></span>
        </div>
      </p>
      <p>
        <div class="form-group">
          <label>
            <input type="checkbox" name="confirmed" checked /> &nbsp;
            同意并遵守网站<a href="/terms">服务和隐私条款</a>
          </label>
        </div>
      </p>
      <button class="btn btn-primary btn-lg"
              onclick="javascript:do_register();">注册
      </button>
      <div id="err-msg2" style="margin-top:10px;" class="text-danger"></div>
    </div>
  </div>
</div>
