<% content_for :extra_css_tags do %>
<link href="/css/visualcaptcha.src.css" rel="stylesheet" />
<% end %>

<div class="container">
  <%= render_alert_box %>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <p class="signup-title">
        现在就加入 <img src="/logo.png" alt="韩非子说" />
      </p>

      <div id="mycaptcha"></div>

      <div class="form-group has-feedback">
        <input class="form-control" type="text" name="login_name" placeholder="账号" />
      </div>

      <div class="form-group has-feedback">
        <input class="form-control" type="text" name="email" placeholder="电子邮箱" />
      </div>

      <div class="form-group has-feedback">
        <input class="form-control" type="password" name="password" placeholder="密码" />
      </div>

      <div class="form-group">
        <input class="form-control" type="text" name="nickname" placeholder="昵称 [可选]" />
      </div>

      <div class="form-group" id="terms-box">
        <label>
          <input type="checkbox" name="terms-accepted" checked>
          &nbsp;同意并遵守网站<a href="/terms">服务和隐私条款</a>
        </label>
      </div>
      <button class="btn btn-primary" id="check-captcha-filled">注册</button>
    </div>
  </div>
</div>

<% content_for :extra_js_tags do %>
<script src="/js/my-signup.js"></script>
<script src="/js/visualcaptcha.jquery.src.js"></script>
<% end %>
