<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="msg-list-head">
        <div>
          <span>我的消息</span>
        </div>
        <div class="float-right">
          <button class="btn btn-default btn-xs" id="btn_mark"
                  onclick="javascript:mark_all_as_read();"
                  <% if get_message_amount == 0 %>
                    disabled="disabled"
                  <% end %> >
            将所有消息标记为已读
          </button>
        </div>
        <div class="clear"></div>
      </div>

      <div class="msg-list">
        <% @messages.each do |m| %>
        <div class="message <% if !m.isread then %>unread<% end %>">
          <p>
            <%= time_ago_in_words_zh(m.sent_at) %> &nbsp;
            来自 &nbsp;
            <%= m.sender.nil? ? "系统" : m.sender.info.nickname %>
          </p>
          <p>
            <%= m.content %>
          </p>
        </div>
        <% end %>
      </div>

      <%= render_pager_full %>
    </div>

    <div class="col-md-3">

    </div>
  </div>
</div>
