<div class="container">
  <form method="post">
    <p><input type="text" name="username" /></p>
    <p><input type="text" name="password" /></p>
    <input type="submit" value=" 注册 " class="btn btn-primary" />
  </form>
</div>
