<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="info_box">
        <% if @validated %>
        <h4>恭喜，您的账户已通过验证</h4>
        <p>
          <a href="/">回到首页</a>
        </p>
        <% else %>
        <h4>很遗憾，账户验证失败</h4>
        <p>
          这很可能是由于验证信息中得验证码过期导致的，您可以尝试重新发送验证邮件 <br />
          登陆后，进入“我的资料”下即可找到“重新发送验证邮件”的按钮
        </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
