/* for the site specials */
/* 2015-10-30 */

ol.breadcrumb {
  font-size: small;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

div.clear {
  clear: both;
}

/* home page tags */
div.tags {
  overflow: auto;
}

/* listing questions on homepage */
.listed-question {
  height: auto;
  border-bottom: solid 1px lightgray;
  padding: 5px 0px;
  display: block;
}

.listed-question .rank {
  float: left;
  text-align: center;
  line-height: 1.2;
  font-size: 16px;
  margin-top: 3px;
  margin-right: 15px;
}

.listed-question .rank div {
  display: inline-block;
  padding: 5px;
  width: 50px;
  height: 50px;
}

.listed-question .rank div.answered {
  background-color: #1ABC9C;
  color: white;
}

.listed-question .rank div.answers {
  color: green;
}

.listed-question .rank div small {
  display: block;
  font-size: 12px;
}

.listed-question .question div {
  display: inline-block;
}

.listed-question .question a {
  color: black;
}

.listed-question .question .user {
  font-size: 12px;
}

.listed-question .question .title {
  display: block;
  font-size: large;
}


/* voting box */
div.votingbox {
  text-align: center;
}

a.watching {
  color: gray;
}

a.watched, a.watching:hover {
  color: gold;
}

/* comment box */
div.comments {
  margin-top: 15px;
}

div.single-comment {
  padding: 5px 0;
  border-bottom: solid 1px gray;
}

div.comment-vote, div.comment-text {
  float: left;
  margin-right: 10px;
}

div.comment-vote a {
  color: lightgray;
}

div.comment-author {
  float: right;
}


/* user profile */
div.profile-page {
  border: solid 1px lightgray;
}

div.left-pane {
  padding: 10px 20px;
  border: solid 1px lightgray;
  border-radius: 5px;
}

div.profile-page div.avatar {
  margin: 0 auto;
  width: 150px;
  overflow: hidden;
}

div.profile-page div.avatar img {
  margin: 0 auto;
  width: 150px;
  height: 150px;
}


/* message page */
div.msg-list-head {
  padding-bottom: 10px;
  border-bottom: solid 1px lightgray;
}

div.msg-list-head span {
  margin-right: 10px;
}

div.msg-list-body div.unread {
  background-color: lightyellow;
}
