/* dave wu (eyaswoo@163.com) @ Dec, 2015 */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 240px;

  /* always show the y-scrollbar, this is a walkaround
  to stop scrollbar affecting page width */
  overflow-y: scroll;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, STHeiti, "Microsoft Yahei", SimSun, sans-serif;
  font-size: 14px;
}

div.wrapper {
  margin-bottom: 300px;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 250px;
  background-color: #EBF2F5;
  border-top: 1px solid lightgray;
  padding: 20px;
}

div.footer-logo-box img {
  width: 150px;
  margin: 10px;
}

div.footer-logo-box span {
  position: absolute;
  font-size: 1.5em;
  font-weight: bold;
  color: #4582EC;
}

footer ul.site-related {
  list-style: none;
  padding: 0px;
}
footer ul.site-related li {
  display: block;
  margin: 8px 0px;
}

.navbar {
  border-radius: 0;
}

ol.breadcrumb {
  margin: 0 0 20px;
  padding: 0;
  background-color: transparent;
}

.myjumbotron-home {
  width: 100%;
  height: 240px;
  background-color: #EBF2F5;
  margin-top: -40px;
  margin-bottom: 40px;
  padding: 20px;
  padding-top: 60px;
}
.myjumbotron-home div {
  float: left;
  margin-right: 50px;
  padding: 10px;
}
.myjumbotron-home img.logo-home-head {
  width: 200px;
}
.myjumbotron-home p {
  font-size: 1.2em;
  color: #4582EC;
}
.myjumbotron-home p a {
  margin: 0 5px;
}


.myjumbotron-career {
  width: 100%;
  height: 260px;
  background-color: #EBF2F5;
  margin-top: -40px;
  margin-bottom: 40px;
  padding-bottom: : 20px;
  padding-top: 60px;
  text-align: center;
}
.myjumbotron-career h2 {
  margin-top: 20px;
  margin-bottom: 40px;
}
.myjumbotron-career p {
  font-size: 1.2em;
  color: #4582EC;
}

.clear {
  clear: both;
}

div.fixed-tool {
  position: fixed;
  right: 5px;
  bottom: 5px;
  border: 1px solid #DDD;
  border-radius: 2px;
  line-height: 1.25;
  z-index: 1000;
  padding: 5px;
}

div.fixed-tool a.back-to-top {
  display: block;
  text-decoration: none;
  text-align: center;
  width: 40px;
  opacity: 0.6;
}

div.fixed-tool a.back-to-top:hover {
  opacity: 1;
}

img.cli-pane {
  display: block;
  margin: 5px;
  width: 120px;
}

/* my common classes */
.text-1_5times {
  font-size: 1.5em;
}
.text-2times {
  font-size: 2em;
}

.margin-top-10 {
  margin-top: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}

.err-msg {
  margin-top: 20px;
  margin-bottom: 20px;
}

div.head-logo-box {
  width: 110px;
}
img.logo {
  width: 50px;
}

span.beta {
  position: relative;
  font-size: 0.6em;
  font-weight: bold;
  color: #028DDE;
  left: 55px;
  top: -60px;
}

/* home page hot tags */
a.tag{
  font-size: 1.1em;
  text-decoration: none;
  cursor: pointer;
  background-color: #DAE7F1;
  color: #39739D;
  padding: 1px 5px;
  margin: 2px;
  display: inline-block;
}

/* listing questions on homepage */
.listed-question {
  border-bottom: solid 1px lightgray;
  padding: 10px;
  display: block;
}

.listed-question .rank {
  float: left;
  text-align: center;
  line-height: 1.2;
  margin-right: 15px;
}

.listed-question .rank div {
  display: inline-block;
  padding: 7px;
  width: 50px;
}

.listed-question .rank div.answered {
  background-color: #83B869;
  color: white;
}

.listed-question .rank div.answers {
  color: #83B869;
}

.listed-question .rank div small {
  display: block;
}

.listed-question .question div {
  display: inline-block;
}

.listed-question .question a {
  color: black;
}

.listed-question .question .title {
  font-size: 1.3em;
  display: block;
}

span.q_tag {
  background-color: #DAE7F1;
  color: #39739D;
  padding: 0px 4px;
  margin: 2px;
  display: inline-block;
}

.listed-question span.q_tag {
  font-size: 0.8em;
}

a.more {
  margin: 20px 0px;
  display: block;
}

/* question detail page */
/* voting box */
div.votingbox {
  text-align: center;
  font-size: 1.5em;
}
a.watching {
  color: gray;
}
a.watched, a.watching:hover {
  color: gold;
}

/* question zone */
h3.question-title {
  margin-top: 0px;
  margin-bottom: 20px;
}

div.question-reporting {
  position: absolute;
  top: 0px;
  right: 10px;
}

div#question-details {
  margin-bottom: 40px;
}
div.question-content {
  padding-left: 0px;
  font-size: 1.3em;
}

/* comment box */
a.comment-btn:hover {
  text-decoration: none;
}

div.comments {
  margin-top: 10px;
  margin-bottom: 15px;
}

div.single-comment {
  margin-bottom: 10px;
}

div.comment-vote, div.comment-text {
  float: left;
  margin-right: 10px;
}

div.comment-vote a {
  color: lightgray;
}

div.comment-author {
  float: right;
}

/* style for answers on question page */
div#answer-details {
  margin-bottom: 40px;
}

div.answer-text {
  padding-left: 0px;
  font-size: 1.3em;
}

div.single-answer {
  margin: 10px 0 15px 0;
}

span.i-am-answer {
  color: #16A085;
}

/* user styles on question page */
div.authorbox {
  overflow: hidden;
}

img.avatar-sm {
  width: 50px;
  height: 50px;
}
img.avatar-xs {
  width: 20px;
  height: 20px;
}

/* message page */
div.msg-list-head {
  padding-bottom: 10px;
  border-bottom: solid 1px lightgray;
}

div.msg-list-head span {
  margin-right: 10px;
}

div.unread {
  background-color: lightyellow;
}


/* user profile */
.nickname {
  word-break: break-all;
}

div.profile-background {
   height: 340px;
   margin-top: -120px;
   background-image: url('/backtest.jpg');
}

div.profile-pane {
  margin-top: -120px;
  padding: 5px;
}

div.profile-pane div.avatar {
  margin: 0 auto;
  padding: 10px;
  background-color: #FFF;
  width: 200px;
  overflow: hidden;
}

div.profile-pane div.avatar img {
  width: 100%;
}

div.profile-pane div.namebox {
  padding-left: 50px;
}

div.profile-mid-pane, div.profile-right-pane {
  margin: 5px;
}

div.user-stat-pane {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}
div.user-stat-pane ul {
  margin: 0;
  padding: 0;
}
div.user-stat-pane ul li {
  display: block;
  float: left;
  width: 50px;
  margin-left: 50px;
}

div.each-stat {
  text-align: center;
}

div.each-expert-tag {
  float: left;
}

span#whensignup {
  color: gray;
}

div.eventbox {
  background-color: #E7E7E7;
  min-height: 100px;
  margin: 10px;
}

div.eventbox div {
  margin: 5px;
  padding: 5px;
}

div.event-avatar, div.event-author {
  float: left;
}

div.event-avatar img {
  width: 50px;
}

div.event-content {
  margin-top: -10px;
  float: left;
  width: 85%;
}
div.event-content h5 {
  margin-top: 0;
}

div.event-content blockquote {
  margin: 0;
  border-color: #FFF;
  font-size: 1.1em;
}


/* watchlist page */
span.watchlist-head {
  margin-bottom: 10px;
}

/* search page */
div.search-mid-pane {
  vertical-align: middle;
  text-align: center;
  height: 200px;
  margin-top: 200px;
}

form.input-group {
  margin-top:30px;
}
form.input-group input {
  height: 50px;
  font-size: 1.4em;
}
form.input-group button {
  height: 50px;
  width: 100px;
  font-size: 18px;
}

div.search-page-header img {
  width:140px;
}
div.search-page-header span.beta-search-page {
  position: relative;
  left: 0px;
  top: -20px;
  color: #028DDE;
  font-weight: bold;
}


/* search results page */
div.search-results .search-item {
  padding: 10px;
}

div.search-results .q-title {
  font-size: 1.5em;
}


/* tags pages */
div.tags-main-pane .nav-tabs li {
  float: right;
}

div.tags-pane {
  padding: 10px;
}

div.tags-pane div.tag-box {
  margin: 10px;
  padding: 5px;
  float: left;
  width: 180px;
  height: 150px;
  word-wrap: break-word;
  overflow: hidden;
}

div.tag-box p {
  margin-top: 5px;
}

div.pager2 {
  margin-top: 30px;
  text-align: center;
}


/* tag page */
div.intag-questions-pane .nav-tabs li {
  float: right;
}
div.intag-question-box {
  padding-top: 20px;
}

/* for listed experts in tag page */
div.listed-expert {
  padding: 5px;
  margin: 5px;
}
div.listed-info {
  float: left;
  padding-top: 5px;
}
div.listed-info span {
  display: block;
  width: 180px;
  word-wrap: break-word;

}
span.listed-intro {
  color: gray;
}
img.listed-avatar {
  height: 50px;
  float: left;
  margin-right: 10px;
}

/* ask page */
div.linked-title {
  margin-bottom: 10px;
}
div.linked-title span {
  color: gray;
  margin-right: 10px;
}
div.linked-title a {
  text-decoration: none;
}


/* own profile page (update profile) */
div.profile-main {
  border: solid 1px lightgray;
  padding: 20px;
}

div.avatar-zone {
  margin-bottom: 10px;
}

div.avatar-img, div.avatar-controls {
  float: left;
  margin-right: 10px;
}

div.avatar-img img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  align-self: stretch;
}

/* user register page */
img.signup-logo {
  width: 200px;
}


div.tooltip-inner {
  background-color: #DAE7F1;
  color: #219589;
}

/* job posts */
div.job-posts a.posts-title {
  display: block;
  background-color: #337AB7;
  color: #FFF;
  font-size: 1.5em;
  margin: 0;
  padding-bottom: 3px;
  text-align: center;
  text-decoration: none;
}

div.job-posts {
  border: 4px solid #337AB7;
  padding: 0px;
  margin-top: 10px;
}

div.posts-container {
  padding: 8px;
}

div.single-post p {
  margin: 0;
  padding: 0;
}
div.single-post p.post-job-company {
  font-weight: bolder;
}

div.single-post {
  margin-bottom: 8px;
  cursor: pointer;
}

/* for ad_sample */
div.partial-ad img {
  width: 100%;
}
div.partial-ad {
  overflow: hidden;
  border: 1px solid lightgray;
  padding: 3px;
}

ul#tag-suggest {
  top: 120px !important;
  left: 25px !important;
}

/* report box for user */
div.report {
  position: absolute;
  top: 70px;
  right: 5px;
}

/* career page */
div.career-box {
  border: 4px solid #DAE7F1;
  border-radius: 5px;
  margin: 40px 10px;
  padding: 10px 20px;
  height: 220px;
}

/* help page */
ul.help-list {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

ul.help-list li {
  text-decoration: none;
  display: block;
  margin: 5px 0;
}
