/* for the site specials */
/* 2015-10-30 */

.listed-question {
  height: auto;
  border-bottom: solid 1px lightgray;
  padding: 5px 0px;
  display: block;
}

.listed-question .rank {
  float: left;
  text-align: center;
  line-height: 1.2;
  font-size: 16px;
  margin-top: 3px;
  margin-right: 15px;
}

.listed-question .rank div {
  display: inline-block;
  padding: 5px;
  width: 50px;
  height: 50px;
}

.listed-question .rank div.answered {
  background-color: #1ABC9C;
  color: white;
}

.listed-question .rank div small {
  display: block;
  font-size: 12px;
}

# =======================

.listed-question .question div {
  display: inline-block;
}

.listed-question .question a {
  color: black;
}

.listed-question .question .user {
  font-size: 12px;
}

.listed-question .question .title {
  display: block;
  font-size: large;
}
